<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li> </li>
                @foreach (var item in @ViewBag.Allwomens)
                {
                    <p>@item.Name</p>
                }


            
            <li>...all leagues where sport is any type of hockey</li>
                @foreach (var item in @ViewBag.BaseballLeagues)
                {
                    <p>@item.Name</p>
                }
            
            <li>...all leagues where sport is something OTHER THAN football</li>
                 @foreach (var item in @ViewBag.FootballLeagues)
                {
                    <p>@item.Name</p>
                }
            <li>...all leagues that call themselves "conferences"</li>
            
                @foreach (var item in @ViewBag.ConferenceLeagues)
                {
                    <p>@item.Name</p>
                }
            <li>...all leagues in the Atlantic region</li>
                @foreach (var item in @ViewBag.Atlanticregion)
                {
                    <p>@item.Name</p>
                }
            <li>...all teams based in Dallas</li>
                @foreach (var item in @ViewBag.DallasTeams)
                {
                    <p>@item.Location : @item.TeamName</p>
                }
            <li>...all teams named the Raptors</li>
                @foreach (var item in @ViewBag.RaptorTeams)
                {
                    <p>@item.Location : @item.TeamName</p>
                }
            <li>...all teams whose location includes "City"</li>
                @foreach (var item in @ViewBag.CityTeams)
            {
                <p>@item.Location : @item.TeamName</p>
            }
            <li>...all teams whose names begin with "T"</li>

                @foreach (var item in @ViewBag.NamesTeams)
            {
                <p>@item.TeamName</p>
            }
            <li>...all teams, ordered alphabetically by location</li>

                @foreach (var item in @ViewBag.LocationTeams)
            {
                <p>@item.Location</p>
            }
            <li>...all teams, ordered by team name in reverse alphabetical order</li>
                @foreach (var item in @ViewBag.ReverseTeams)
            {
                <p>@item.TeamName</p>
            }
            <li>...every player with last name "Cooper"</li>
                @foreach (var item in @ViewBag.LastNameTeams)
            {
                <p>@item.LastName</p>
            }
            <li>...every player with first name "Joshua"</li>
            
                @foreach (var item in @ViewBag.FirstNameTeams)
            {
                <p>@item.FirstName</p>
            }

            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>

            @foreach (var item in @ViewBag.ExceptPlayers)
            {
                <p>@item.FirstName : @item.LastName </p>
            }

            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
                 @foreach (var item in @ViewBag.AllPlayers)
            {
                <p>@item.FirstName : @item.LastName </p>
            }
        </ol>
    </div>
</div>